.rti--container {
  --rti-bg: #fff;
  --rti-border: #ccc;
  --rti-main: #3182ce;
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem; /* spacing */
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
}


/* Estilos para las etiquetas (tags) */
.tag-cls {
  background-color: #ff9900;
  color: #ffffff;
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 4px;
}

/* Estilos para el input */
.input-cls {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

/* .label {
  font-weight: 600;
  color: #1c2e48;
}

.TagsInput input {
  width: 500px;
  height: 40px;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background-color: blue;
} */


/* Para pantallas más grandes o iguales a 768px (md) */
  @media screen and (min-width: 768px) {

  }

/* Para pantallas más grandes o iguales a 992px (lg) */
  @media screen and (min-width: 992px) {
  .input {
  width: 350px;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
  @media screen and (min-width: 1200px) {
  .input {
  width: 650px;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
  @media screen and (min-width: 1400px) {
  .input {
  width: 750px;
  }
}