.title {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 10rem;
 border-bottom: 3px solid #1c2e48;
 margin: 0;
 margin-bottom: 2rem;
 padding: 0 0.5rem ;
}

.downButton {
  font-size: 20pt;
  color:  #1c2e48;
}

.formField {
  border-bottom: 1px solid #cacaca;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0 0.5rem ;
  display: flex;
  justify-content: center;
}


/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .hrSmall, .hrMedium {
    width: 550px;
  }
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
  .hrSmall, .hrMedium {
    width: 550px;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
  .hrSmall, .hrMedium {
    width: 700px;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .form {
    border: 1px solid blue;
    width: 900px;
  }
}
