.label {
  font-weight: 600;
  color: #1c2e48;
}

.input {
  width: 300px;
  height: 40px;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background-color: white;
  color: #8f8f8f;
  margin: 1rem 0 2rem 0;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
  .input {
    width: 350px;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
  .input {
    width: 650px;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .input {
    width: 750px;
  }
}
